/* ===========================
   Reset & Base
=========================== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  /* remの基準 */
  scroll-behavior: smooth;
}

body {
  font-family: "Hiragino ProN", "Yu Gothic", sans-serif;
  color: #725c56;
  background-color: #fff;
  line-height: 1.8;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

h2 {
  font-family: "Hiragino Mincho ProN", "Yu Mincho", serif;
  padding: 60px 0;
  text-align: center;
}

h3 {
  font-family: "Hiragino Mincho ProN", "Yu Mincho", serif;
  padding: 20px 0;
}

button {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
}

footer {
  background-color: #614f4a;
  color: #fff;
}

/* ===========================
   Layout
=========================== */

section {
  padding: 80px 0;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.page-btn {
  padding: 18px 64px;
  display: inline-block;
  transition:
    color 0.3s ease,
    background-color 0.3s ease;
  text-align: center;
}

.page-btn:hover {
  background-color: #614f4a;
  color: #fff;
}

.page-btn::after {
  content: ">";
  margin-left: 8px;
}

.sp-only {
  display: none;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 0 120px;
}

.online-shop,
.nav-right {
  flex: 1;
}

.logo {
  flex-shrink: 0;
  font-family: "Hiragino Mincho ProN", "Yu Mincho", serif;
  font-size: 4rem;
  color: #614f4a;
}

.nav-right ul {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
}

/* ===== ハンバーガー ===== */
.hamburger {
  display: none;
  position: relative;
  width: 28px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 2000;
}

.hamburger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1.5px;
  background: #7a6868;
  transition: 0.3s ease;
}

/* 2本線 */
.hamburger span:nth-child(1) {
  top: 6px;
}

.hamburger span:nth-child(2) {
  bottom: 6px;
}

/* ×変形 */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 9px;
}

.hamburger.active span:nth-child(2) {
  transform: rotate(-45deg);
  bottom: 9px;
}

/* ===== 全画面メニュー（上から） ===== */
.sp-nav {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  background: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 28px;

  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;

  transition: 0.35s ease;
  z-index: 1000;
}

.sp-nav.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.hero {
  padding: 30px 0;
}

.hero img {
  width: 100%;
  height: 800px;
  object-fit: cover;
  object-position: bottom;
  filter: blur(12px);
  opacity: 0;
  transition:
    filter 1.2s ease,
    opacity 1.2s ease;
}

.fv-img.is-loaded {
  filter: blur(0);
  opacity: 1;
}

.img-fade {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 1.4s cubic-bezier(0.22, 1, 0.36, 1),
    transform 1.4s cubic-bezier(0.22, 1, 0.36, 1);
  transition-delay: 0.07s;
}

.img-fade.is-visible {
  opacity: 1;
  transform: translateY(0px);
}

.products-first {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 50px 0;
}

.products-first-txt,
.products-first-img {
  flex: 1;
}

.products-first img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.products-first-btn-box {
  margin: 30px 0;
  text-align: right;
}

.products-contents {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding-top: 60px;
  padding-bottom: 20px;
}

.products-item:nth-child(1) .img-fade {
  transition-delay: 0s;
}

.products-item:nth-child(2) .img-fade {
  transition-delay: 0.1s;
}

.products-item:nth-child(3) .img-fade {
  transition-delay: 0.2s;
}

.products-item:nth-child(4) .img-fade {
  transition-delay: 0.3s;
}

.products-item:nth-child(5) .img-fade {
  transition-delay: 0.4s;
}

.products-item:nth-child(6) .img-fade {
  transition-delay: 0.5s;
}

.products-item a,
.products-item p {
  margin: 5px 0;
}

.products-img {
  overflow: hidden;
  position: relative;
}

.products-img img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.products-img:hover img {
  transform: scale(1.2);
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color 0.8s ease;
}

.products-img:hover .card-overlay {
  background-color: rgba(97, 79, 74, 0.4);
}

.card-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease;
  background-color: #fff;
  color: #614f4a;
  padding: 12px 24px;
  border-radius: 9999px;
  width: 160px;
}

.products-img:hover .card-button {
  opacity: 1;
}

.products-category {
  font-size: 0.8rem;
  color: #7a6868;
}

#store-info {
  background-color: #f8f3eb;
}

.store-info-inner {
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
}

.store-info-card {
  text-align: center;
}

.store-info-img {
  max-width: 700px;
  margin: 0 auto;
}

.store-info-img img {
  width: 100%;
  display: block;
}

.store-info-txt {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.store-info-txt h3 {
  text-align: center;
  margin: 40px 0;
}

.store-info-txt dl {
  display: inline-grid;
  grid-template-columns: 120px auto;
  gap: 10px 30px;
  text-align: left;
}

.store-info-txt dt,
.store-info-txt dd {
  font-size: 0.9rem;
}

.info h2 {
  text-align: center;
}

.info-contents {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 11px;
}

.info-card:nth-child(1) .img-fade {
  transition-delay: 0s;
}

.info-card:nth-child(2) .img-fade {
  transition-delay: 0.1s;
}

.info-card:nth-child(3) .img-fade {
  transition-delay: 0.2s;
}

.info-card:nth-child(4) .img-fade {
  transition-delay: 0.3s;
}

.info-img {
  overflow: hidden;
}

.info-img img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.info-img:hover img {
  transform: scale(1.2);
}

.info-btn-box {
  text-align: right;
  margin: 30px 0;
}

#about {
  background: #f8f3eb;
  border-radius: 80px 80px 0 0;
  padding: 140px 0;
}

.about-contents {
  display: flex;
  align-items: center;
  gap: 40px;
}

.about-contents-txt,
.about-contents-img {
  flex: 1;
}

#about h2 {
  text-align: center;
  margin: 10px 0;
  padding: 0;
  font-size: 2rem;
}

.about-contents-txt p {
  padding: 10px 0;
}

.about-btn-box {
  text-align: right;
}

.about-img img {
  width: 100%;
  object-fit: cover;
}

.footer-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 80px;
}

.footer-contents {
  font-size: 0.9rem;
}

.footer-menu {
  display: flex;
  gap: 100px;
}

.footer-sns {
  padding: 30px 0;
}

.fa-brands {
  font-size: 1.5rem;
  color: #fff;
  margin-right: 10px;
}

.footer-copy {
  padding-top: 50px;
  font-size: 0.7rem;
  text-align: center;
}

.to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  background: rgba(97, 79, 74, 0.78);
  color: #fff;
  cursor: pointer;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition:
    opacity 0.7s ease,
    transform 0.7s ease,
    visibility 0.7s,
    background-color 0.7s ease;
}

.to-top.is-show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.to-top:hover {
  transform: translateY(-2px);
  background: #614f4a;
}

/* ===========================
   Responsive
=========================== */
@media (max-width: 1177px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background: #fff;
    opacity: 0.9;
  }

  h2 {
    padding: 50px 0;
  }

  section {
    padding: 30px 0;
  }

  body {
    font-size: 0.8rem;
    padding-top: 60px;
  }

  .inner {
    padding: 0 15px;
  }

  .page-btn {
    width: 100%;
    background-color: #614f4a;
    color: #fff;
  }

  .sp-only {
    display: inline;
  }

  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin: 5px 0;
  }

  .logo {
    font-size: 1.8rem;
  }

  .online-shop,
  .nav-right {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .hero {
    padding-top: 0px;
  }

  .hero img {
    width: 100%;
    height: 100hv;
  }

  .products-first {
    flex-direction: column-reverse;
    align-items: center;
  }

  .products-first-img img {
    width: 100%;
    height: auto;
  }

  .products-contents {
    grid-template-columns: repeat(1, 1fr);
  }

  .store-info-card {
    flex-direction: column-reverse;
    align-items: center;
    margin: 0;
    margin-bottom: 50px;
  }

  .store-info-txt dl {
    gap: 10px 10px;
  }

  .info-contents {
    grid-template-columns: repeat(1, 1fr);
  }

  .info-card {
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  #about {
    padding: 50px 0;
  }

  .about-contents {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .footer-menu {
    flex-direction: column;
    gap: 20px;
  }

  .footer-contents {
    margin: 0 20px;
  }

  .footer-copy {
    margin-top: 40px;
  }
}
