/* ===========================
   Reset & Base
=========================== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  /* remの基準 */
  scroll-behavior: smooth;
}

body {
  font-family: "Hiragino ProN", "Yu Gothic", sans-serif;
  color: #725c56;
  background-color: #fff;
  line-height: 1.8;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

h2 {
  font-family: "Hiragino Mincho ProN", "Yu Mincho", serif;
  padding: 60px 0;
  text-align: center;
}

h3 {
  font-family: "Hiragino Mincho ProN", "Yu Mincho", serif;
  padding: 20px 0;
}

button {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
}

footer {
  background-color: #614f4a;
  color: #fff;
}

/* ===========================
   Layout
=========================== */

section {
  padding: 80px 0;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.page-btn {
  padding: 18px 64px;
  border: 1px solid #614f4a;
  display: inline-block;
  transition:
    color 0.3s ease,
    background-color 0.3s ease;
  text-align: center;
}

.page-btn:hover {
  background-color: #614f4a;
  color: #fff;
}

.page-btn::after {
  content: ">";
  margin-left: 8px;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 0 120px;
}

.online-shop,
.nav-right {
  flex: 1;
}

.logo {
  flex-shrink: 0;
  font-family: "Hiragino Mincho ProN", "Yu Mincho", serif;
  font-size: 4rem;
  color: #614f4a;
}

.nav-right ul {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
}

.hero {
  padding: 30px 0;
}

.hero img {
  width: 100%;
  height: 800px;
  object-fit: cover;
}

.products-first {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 50px 0;
}

.products-first-txt,
.products-first-img {
  flex: 1;
}

.products-first img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.products-first-btn-box {
  margin: 30px 0;
  text-align: right;
}

.products-contents {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding-top: 60px;
  padding-bottom: 20px;
}

.products-item a,
.products-item p {
  margin: 5px 0;
}

.products-img {
  overflow: hidden;
  position: relative;
}

.products-img img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.products-img:hover img {
  transform: scale(1.2);
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color 0.8s ease;
}

.products-img:hover .card-overlay {
  background-color: rgba(97, 79, 74, 0.4);
}

.card-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease;
  background-color: #fff;
  color: #614f4a;
  padding: 12px 24px;
  border-radius: 9999px;
  width: 160px;
}

.products-img:hover .card-button {
  opacity: 1;
}

.products-category {
  font-size: 0.8rem;
  color: #7a6868;
}

#store-info {
  background-color: #f8f3eb;
}

.store-info-inner {
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
}

.store-info-img img {
  width: 100%;
  display: block;
}

.store-info-card {
  text-align: center;
}

.store-info-img {
  max-width: 700px;
  margin: 0 auto;
}

.store-info-img img {
  width: 100%;
}

.store-info-txt {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.store-info-txt h3 {
  text-align: center;
  margin: 40px 0;
}

.store-info-txt dl {
  display: inline-grid;
  grid-template-columns: 120px auto;
  gap: 10px 30px;
  text-align: left;
}

.store-info-txt dt,
.store-info-txt dd {
  font-size: 0.9rem;
}

.info h2 {
  text-align: center;
}

.info-contents {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 11px;
}

.info-img {
  overflow: hidden;
}

.info-img img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.info-img:hover img {
  transform: scale(1.2);
}

.info-btn-box {
  text-align: right;
  margin: 30px 0;
}

.about {
  background: #f8f3eb;
  border-radius: 80px 80px 0 0;
  padding: 140px 0;
}

.about-contents {
  display: flex;
  align-items: center;
  gap: 40px;
}

.about-contents-txt,
.about-contents-img {
  flex: 1;
}

.about h2 {
  text-align: center;
  margin: 10px 0;
  padding: 0;
  font-size: 2rem;
}

.about-contents-txt p {
  padding: 10px 0;
}

.about-btn-box {
  text-align: right;
}

.about-img img {
  width: 100%;
  object-fit: cover;
}

.footer-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px 0;
}

.footer-contents {
  margin-bottom: 20px;
  font-size: 0.9rem;
}

.footer-menu {
  display: flex;
  gap: 100px;
}

.fa-brands {
  font-size: 1.5rem;
  color: #fff;
  margin-right: 10px;
}

.footer-copy {
  padding-top: 50px;
  font-size: 0.7rem;
  text-align: center;
}

/* ===========================
   Responsive
=========================== */
@media (max-width: 1177px) {
  h2 {
    padding: 30px;
  }

  h3 {
    padding: 0px;
  }

  section {
    padding: 30px 0;
    /* PCよりセクション間を狭く */
  }

  .inner {
    text-align: center;
  }

  .page-btn {
    width: 100%;
  }

  .header-inner {
    padding: 0;
    justify-content: center;
    text-align: center;
  }

  .logo {
    font-size: 2rem;
  }

  .online-shop,
  .nav-right {
    display: none;
  }

  .hero img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .info h2 {
    text-align: center;
  }

  .info-contents {
    grid-template-columns: repeat(2, 1fr);
  }

  .info-card {
    width: 100%;
    text-align: center;
  }

  .info-img {
    margin: 0 auto;
  }

  .products-first {
    flex-direction: column-reverse;
    align-items: center;
  }

  .products-contents {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-contents {
    flex-direction: column-reverse;
    align-items: center;
  }

  .store-info-card {
    flex-direction: column-reverse;
    align-items: center;
    margin: 0;
    margin-bottom: 50px;
  }

  .footer-menu {
    flex-direction: column;
    gap: 20px;
  }

  .footer-contents {
    margin: 0 20px;
  }

  .footer-copy {
    margin-top: 40px;
  }
}
