/* ===========================
   Reset & Base
=========================== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  /* remの基準 */
  scroll-behavior: smooth;
}

body {
  font-family: 'Hiragino ProN', 'Yu Gothic', sans-serif;
  color: #725c56;
  background-color: #fff;
  line-height: 1.8;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  /*レスポンシブ対応の基準値 */
  height: auto;
  /* 比率を維持し幅に合わせて高さが自動で変わるようにする指定 */
  display: block;
  /* 画像をブロック要素として扱う指定 */
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

h2 {
  font-family: 'Hiragino Mincho ProN', 'Yu Mincho', serif;
  padding: 60px 0;
  text-align: center;
}

h3 {
  font-family: 'Hiragino Mincho ProN', 'Yu Mincho', serif;
  padding: 20px 0;
}

footer {
  background-color: #614f4a;
  color: #FFF
}

/* ===========================
   Layout
=========================== */

section {
  padding: 60px 0;
}

.inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px;
}

.page-btn {
  padding: 18px 64px;
  border: 1px solid #614f4a;
  display: inline-block;
  transition: color 0.3s ease, background-color 0.3s ease;
  text-align: center;
}

.page-btn:hover {
  background-color: #614f4a;
  color: #FFF;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  margin-top: 20px;
  padding: 0 120px;
}

.online-shop,
.nav-right {
  flex: 1;
}

.logo {
  flex-shrink: 0;
  font-family: 'Hiragino Mincho ProN', 'Yu Mincho', serif;
  font-size: 4rem;
  color: #614f4a;
}

.nav-right ul {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
}

.hero {
  padding: 30px 0;
}

.hero img {
  width: 100%;
  height: 800px;
  object-fit: cover;

}

.info h2 {
  text-align: left;
}

.info-contents {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 11px;
}

.info-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}


.info-btn-box {
  text-align: right;
  margin: 30px 0;
}

.products-first {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 50px;
}

.products-first-txt,
.products-first-img {
  flex: 1;
}

.products-first img {
  width: 100%;
  object-fit: cover;
}

.products-first-btn-box {
  margin: 30px 0;
  text-align: right;
}

.products-contents {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.products-item a,
.products-item p {
  margin: 5px 0;
}

.products-item img {
  width: 400px;
  height: 200px;
  object-fit: cover;
}

.products-category {
  font-size: 0.7rem;
  color: #7a6868;
}


.products-btn-box {
  text-align: center;
  margin: 50px 0;
}

.about-contents {
  display: flex;
  align-items: center;
  gap: 30px;
}

.about-contents-txt,
.about-contents-img {
  flex: 1;
}

.about h2 {
  text-align: center;
  margin: 10px 0;
  padding: 0;
}

.about-contents-txt p {
  padding: 10px 0;
}

.about-btn-box {
  text-align: right;
}

.about-img img {
  width: 100%;
  object-fit: cover;
}

.store-info-card {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 30px 0;
}

.store-info-img img {
  width: 100%;
  object-fit: cover;
}

.store-info-txt,
.store-info-img {
  flex: 1;
}

.store-info-txt dl {
  margin: 20px 0;
}

.store-info-txt dt {
  width: 26%;
}

.store-info-txt dd {
  width: 70%;
}

.store-info-txt dt,
.store-info-txt dd {
  display: inline-block;
  vertical-align: top;
  font-size: 0.8rem;
  margin: 5px 0;

}

footer .inner {
  padding: 50px 0;
}

.footer-contents {
  margin-bottom: 20px;
  font-size: 0.8rem;
}

.footer-menu {
  display: flex;
  gap: 100px;
}


.fa-brands {
  font-size: 1.5rem;
  color: #FFF;
  margin-right: 10px;
}

.footer-copy {
  font-size: 0.7rem;
}

/* ===========================
   Responsive
=========================== */
@media (max-width: 1177px) {

  h2 {
    padding: 30px;
  }

  h3 {
    padding: 0px;
  }

  section {
    padding: 30px 0;
    /* PCよりセクション間を狭く */
  }

  .inner {
    text-align: center;
  }

  .page-btn {
    width: 100%;
  }

  .header-inner {
    padding: 0;
    justify-content: center;
    text-align: center;
  }

  .logo {
    font-size: 2rem;
  }

  .online-shop,
  .nav-right {
    display: none;
  }

  .hero img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .info h2 {
    text-align: center;
  }

  .info-contents {
    grid-template-columns: repeat(2, 1fr);
  }

  .info-card {
    width: 100%;
    text-align: center;
  }

  .info-img {
    margin: 0 auto;
  }

  .products-first {
    flex-direction: column-reverse;
    align-items: center;
  }

  .products-contents {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-contents {
    flex-direction: column-reverse;
    align-items: center;
  }

  .store-info-card {
    flex-direction: column-reverse;
    align-items: center;
    margin: 0;
    margin-bottom: 50px;
  }

  .footer-menu {
    flex-direction: column;
    gap: 20px;
  }

  .footer-contents {
    margin: 0 20px;
  }

  .footer-copy {
    margin-top: 40px;
  }


}